<div class="container">
        <div class="row">
            <h2 id="home-heading">Account</h2>
        </div>
        <div class="row">
            <div class="col s12 m10 offset-m1">
                <div id="menu" class="card black-text">
                    <h2 class="card-title center">Your Information</h2>
                    <hr class="style">
                    <!--
                    <div>
                        <table class="highlight centered">
                            <thead class="basket" >
                            <th>ID</th>
                            <th>Full Name</th>
                            <th>Username</th>
                            <th>Email</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><%- ejsData.ID %></td>
                                    <td><%- ejsData.fullname %></td>
                                    <td><%- ejsData.username %></td>
                                    <td><%- ejsData.email %></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    -->
                    <div class="row" style="padding-left: 5%; padding-right: 5%;">
                        <form class="col s12" id="accountForm">
                          <div class="row">
                            <div class="input-field col s6">
                              <input disabled id="user_id" type="text" class="validate">
                              <label for="user_id">User ID: <%- ejsData.ID %></label>
                            </div>
                            <div class="input-field col s6">
                              <input id="user_fullname" type="text" class="validate">
                              <label for="user_fullname">Current Account Name: <%- ejsData.fullname %></label>
                            </div>
                          </div>
                          <div class="row">
                            <div class="input-field col s12">
                              <input id="user_username" type="text" class="validate">
                              <label for="user_username" >Current Username: <%- ejsData.username %></label>
                            </div>
                          </div>
                          <div class="row">
                            <div class="input-field col s12">
                              <input id="email" type="email" class="validate">
                              <label for="email">Current Email: <%- ejsData.email %></label>
                            </div>
                          </div>
                          <div class="center">
                            <button class="btn waves-effect waves-yellow yellow darken-2 center" type="submit" name="action">Submit Changes
                                <i class="material-icons right">send</i>
                            </button>
                          </div>

                        </form>
                      </div>
                </div>
            </div>
        </div>
    </div>