<!-- The account page should display a user's information and a list of their previous orders, if avaliable. --> 

<div class="container">
        <div class="row">
            <h2 id="home-heading">Account</h2>
        </div>

        <!-- Form containing account information -->
        <div class="row">
            <div class="col s12 m10 offset-m1">
                <div id="menu" class="card black-text">
                    <h2 class="card-title center">Your Information</h2>
                    <hr class="style">
                    <div class="row" style="padding-left: 5%; padding-right: 5%;">
                        <form class="col s12" id="accountForm" method="POST" action="/account">
                          <div class="row">
                            <div class="input-field col s6">
                              <input disabled id="user_id" type="text" class="validate">
                              <label for="user_id">User ID: <%- ejsData.ID %></label>
                            </div>
                            <div class="input-field col s6">
                              <input id="user_fullname" name="user_fullname" type="text" value="<%- ejsData.fullname %>" class="validate">
                              <label for="user_fullname">Current Account Name: <%- ejsData.fullname %></label>
                            </div>
                          </div>
                          <div class="row">
                            <div class="input-field col s12">
                              <input id="user_username" name="user_username" type="text" value="<%- ejsData.username %>" class="validate">
                              <label for="user_username" >Current Username: <%- ejsData.username %></label>
                            </div>
                          </div>
                          <div class="row">
                            <div class="input-field col s12">
                              <input id="user_email" name="user_email" type="email" value="<%- ejsData.email %>" class="validate">
                              <label for="user_email">Current Email: <%- ejsData.email %></label>
                            </div>
                          </div>
                          <div class="center">
                            <button class="btn waves-effect waves-yellow yellow darken-2 center" type="submit" name="action">Submit Changes
                                <i class="material-icons right">send</i>
                            </button>
                          </div>
                        </form>
                      </div>

                      <!-- Table for the previous orders -->
                      <div>
                          <table class="highlight centered">
                              <br><br>
                              <h2 class="card-title center">Your Previous Orders</h2>
                              <hr class="style">
                              <thead class="basket" >
                              <th>Dish</th>
                              <th>Price</th>
                              </thead>
                              <tbody>
                                      <% orderHist.forEach( function(order) { %>
                                      <tr>
                                          <td><%- order.basket.toString() %></td>
                                          <td>$<%- order.total_price %></td>
                                      </tr>
                                            <% }) %>
                              </tbody>
                          </table>
                        </div>
                </div>
            </div>
        </div>
    </div>